img { width: 100%; border: 5px solid white; }
body { background: black; color: white; font-family: sans-serif; margin: 0; padding: 15px; }
.listing, .listing li { list-style: none; padding: 0; margin: 0; }
.listing li { max-height: 200px; position: relative;  }
.listing img { width: 200px; max-height: 200px; }
.listing p { position: absolute; left: 220px; top: 0; }
.listing a { display: block; color: white; text-decoration: none;}

#index { display: none; }
.indexActive #index { display: block; }
.indexActive #photo { display: none; }

/*
@media screen and (min-width: 400px) {
	.listing li {
		width: 400px;
		float: left;
	}
}
*/